DIV.divMenu
	{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:14;
	font-size:2pt;
	visibility:hidden;
	}

TABLE.tblMenu
	{
	font-family:Verdana;
	font-weight:bold;
        font-size:10pt;
	cursor:default;
	padding-top:0;
	padding-bottom:2;
	height:14;
	width:100%;
	}

DIV.divBand
	{
	position:absolute;
	left:0;
	top:18;
	width:100%;
	height:5;
	font-size:2pt;
	}

A.anchorMenuDefault
	{
	text-decoration:none;
	cursor:hand;
	}

A.anchorMenuSelected
	{
	text-decoration:none;
	}
	
A
	{
	text-decoration:none;
	}
	
/* PSEUDO-CLASS 'HOVER' */

A:hover
	{
	text-decoration:underline;
	color:highlight;
	}

A.anchorNav
	{
	text-decoration:none;
	color:highlight;
	}

TD.tdThin
	{
	cursor:default;
	}

DIV.headerbody
	{
	position:absolute;
	left:0;
	top: 30;
	width:100%;
	}

SPAN.body
	{
	position:relative;
	left:0;
	top:+5px;
	width:100%;
	}

TD.TableRowHeading {
  width:200;
  padding-left:4;
  font-weight: bold;   
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
}

TD.TableRowText {
  padding-left:2;
  font-weight: normal; 
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
}

TD.TaskBar {
  width: 200;
  background-color: buttonface;
  color: windowtext;
}

TD.TableRowButton {
  font-weight: bold;   
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  cursor: hand;
  background-color: buttonface;
  color: windowtext;
  padding-left:8;
}

A.TableRowButton {
  color: windowtext;
}

TABLE.DBTable {
  padding-left:10;
  padding-right:10;
  border: thin none;
}

TD.DBTableHeader {
  font-weight: bold;   
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  text-align: left;
}

TD.DBLegendText {
  font-weight: bold;   
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
}

TD.DBTableText {
  font-weight: normal; 
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
}

TD.DBHighlightedTableText {
  background-color: buttonface; 
  color: buttontext; 
  font-weight: bold; 
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  height: 18;
}

TD.DBTableHeaderColumnSeparator {
  width: 4;
}

TD.DBTableColumnSeparator {
  width: 10;
}

TABLE.GraphTable {
  border: thin, none;
}

TD.UsedSpaceColorCell {
  background-color: Blue; 
  color: White; 
  font-weight: bold;
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  text-align: center;
  height: 10;
}

TD.FreeSpaceColorCell {
  background-color: Magenta; 
  color: White; 
  borderColor: buttonface;
  font-weight: bold;
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  text-align: center;
  height: 10;
}

TD.TotalSpaceColorCell {
  background-color: Blue; 
  color: White; 
  font-weight: bold;
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  text-align: left;
  height: 10;
}

TD.TotalSpaceCell {
  font-weight: bold;
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
  text-align: left;
}

.ErrorMessageText {
  font-weight: normal;
  font-size: 12pt; 
  font-family: Verdana, MS Sans Serif;
}

.Listbox {
  padding-left:0;
  padding-right:0;
  padding-top:0;
  padding-bottom:0;
  font-size: 8pt; 
  font-family: Verdana, MS Sans Serif;
}

.ObjectName {
  font-weight: bold;
  font-size: 14pt; 
  font-family: Verdana, MS Sans Serif;
  color: activecaption;
}

.TaskBarTitleText {
  font-weight: bold;
  font-size: 12pt; 
  font-family: Verdana, MS Sans Serif;
}
